alembic==1.7.5
bidict==0.21.4
cffi==1.15.0
click==7.1.2
cryptography==36.0.1
dnspython==2.2.0
eventlet==0.33.0
Flask==1.1.4
Flask-Cors==3.0.10
Flask-HTTPAuth==4.5.0
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Flask-SocketIO==5.1.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
hupper==1.10.3
importlib-metadata==4.10.0
importlib-resources==5.4.0
itsdangerous==1.1.0
Jinja2==2.11.3
Mako==1.1.6
MarkupSafe==2.0.1
PasteDeploy==2.1.1
plaster==1.0
plaster-pastedeploy==0.7
pycparser==2.21
PyJWT==2.3.0
pyramid==2.0
pyramid-jinja2==2.8
python-engineio==4.3.1
python-socketio==5.5.1
six==1.16.0
SQLAlchemy==1.4.29
translationstring==1.4
venusian==3.0.0
WebOb==1.8.7
Werkzeug==1.0.1
zipp==3.7.0
zope.deprecation==4.4.0
zope.interface==5.4.0
